


/* Reset CSS */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: sans-serif;
    line-height: 1.5;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fff;
    color: #000;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}

input,
button,
textarea,
select {
    font: inherit;
}

a {
    color: inherit;
    text-decoration: none !important;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

a:hover {
    color: #3357FD;
}

ul, ol {
    list-style: none;
}
.tf-container{
  max-width: 1210px ;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* Font Define */

/* Gotham Light - 300 */
@font-face {
    font-family: "Gotham";
    src: url("../font/Gotham-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/* Gotham Book - 400 */
@font-face {
    font-family: "Gotham";
    src: url("../font/Gotham-Book.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Gotham Medium - 500 */
@font-face {
    font-family: "Gotham";
    src: url("../font/Gotham-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* Gotham Bold - 700 */
@font-face {
    font-family: "Gotham";
    src: url("../font/Gotham-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* Gotham Black - 900 */
@font-face {
    font-family: "Gotham";
    src: url("../font/Gotham-Black.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
/* Myriad Pro Light - 300 */
@font-face {
    font-family: "Myriad Pro";
    src: url("../font/MyriadPro-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/* Myriad Pro Regular - 400 */
@font-face {
    font-family: "Myriad Pro";
    src: url("../font/MYRIADPRO-REGULAR.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Myriad Pro Semibold - 600 */
@font-face {
    font-family: "Myriad Pro";
    src: url("../font/MYRIADPRO-SEMIBOLD.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/* Myriad Pro Bold - 700 */
@font-face {
    font-family: "Myriad Pro";
    src: url("../font/MYRIADPRO-BOLD.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


body {
    font-family: 'Gotham' !important;
    font-weight: 400;
}
.myriad {
    font-family: "Myriad Pro", sans-serif;
}


/* header */
.site-header{
  background-color: #7FB297;
}
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
     position: relative;
}
.main-menu .menu {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 61px;
    margin: 0;
    padding: 0;
}
.main-menu {
    flex: 1;
}
.main-menu .menu a {
    font-family: Myriad Pro;
    font-weight: 400;
    font-size: 15px;
    line-height: 66px;
    letter-spacing: 0.7px;
    color: #FFFFFF;
    position: relative;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.main-menu .menu > li > a::before {
    height: 1px;
    background: #ffffff;
    bottom: 0;
    z-index: 1;
    content: "";
    position: absolute;
    left: auto;
    right: 0;
    width: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.main-menu .menu > li > a:hover:before {
    width: 100%;
    left: 0;
}
.main-header .menu-toggle {
    position: absolute;
    right: -5px;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    cursor: pointer;
    width: 40px;
    height: 32px;
}
.menu-toggle {
    display: none;
    flex-direction: column;
    width: 25px;
    height: 20px;
    justify-content: space-between;
    cursor: pointer;
    border: none;
    background: none;
}
.main-header .menu-toggle span {
    position: absolute;
    left: 10px;
    top: 50%;
    background: #fff;
    height: 2px;
    width: 20px;
    padding: 0;
    border: none;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    outline: none !important;
    margin: -1px 0 0;
}
.menu-toggle span {
    display: block;
    height: 3px;
    width: 100%;
    background: #333;
    border-radius: 2px;
}
.main-header .menu-toggle span::before {
    content: "";
    position: absolute;
    left: 0;
    top: -7px;
    width: 20px;
    height: 2px;
    background: #ffffff;
    -webkit-transform-origin: 1.5px center;
    -moz-transform-origin: 1.5px center;
    -o-transform-origin: 1.5px center;
    transform-origin: 1.5px center;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.main-header .menu-toggle span::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -7px;
    width: 20px;
    height: 2px;
    background: #ffffff;
    -webkit-transform-origin: 1.5px center;
    -moz-transform-origin: 1.5px center;
    -o-transform-origin: 1.5px center;
    transform-origin: 1.5px center;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.main-header .logo img {
    width: 118px;
}

.header-right .tf-button {
    font-family: Myriad Pro;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 1.3px;
    padding: 7.5px 21px;
    border: 2px solid #FFFFFF;
    border-radius: 100px;
    display: inline-flex;
    color: #fff;
    gap: 13px;
    margin-left: 61px;
    transition: all 0.3s ease-in-out;
}
.header-right .tf-button:hover {
    border: 2px solid #FFFFFF;
    color: #7FB297;
    background-color: #ffffff;
}
.header-right .tf-button svg path {
    fill: #FFFFFF;
}
.header-right .button__icon-wrapper svg {
    width: 12px;
}
.header-right .tf-button:hover svg path {
    fill: #7FB297;
}

/* header fixed */

.header-sticky {
  position: fixed;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(-100%);
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  z-index: 9999;
}

.header-sticky.is-fixed {
  transform: translateY(0%);
}

/* footer */
.site-footer {
    background: #000000;
    padding-top: 59px;
    padding-bottom: 59px;
}
.footer-logo img {
    width: 118px;
}
.footer-container h3 {
    font-size: 18px;
    line-height: 100%;
    color: #fff;
    margin-bottom: 8px;
}
.footer-container .text-wraps {
    display: flex;
    gap: 87px;
}
.footer-container .text {
    color: #FFFFFF;
    font-weight: 325;
    font-size: 14px;
    line-height: 18px;
}
.footer-container .text strong{
    color: #FF9366;
}
.footer-container .text a {
   position: relative;
    color: #fff;
}
.footer-container .text a::before {
    height: 1px;
    background: #ffffff;
    bottom: 0;
    z-index: 1;
    content: "";
    position: absolute;
    left: auto;
    right: 0;
    width: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.footer-container .text a:hover:before {
    width: 100%;
    left: 0;
}
.site-footer .coppyright {
    font-weight: 325;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #fff;
    margin-top: 60px;
}
.site-footer .coppyright p {
    margin-bottom: 0;
}
.site-footer .footer-contact,
.site-footer .footer-address {
        padding-top: 4px;
    padding-left: 16px;
}
/* footer */
/* mobie menu */
.offcanvas {
    width: 320px !important;
    background: #7FB297 !important;
        z-index: 999999 !important;
}
.mobile-menu-content img {
    width: 118px;
}
.mobile-menu-content .logo{
   margin-bottom: 40px;
}
.mobile-menu {
    padding: 0;
    margin-bottom: 40px;
}
.mobile-menu li  {
       margin-bottom: 10px;
    padding-bottom: 10px;
        border-bottom: 1px solid #ffffff40;
}
.mobile-menu li a {
    font-family: Myriad Pro;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0.8px;
    color: #fff;
}
.mobile-menu li a:hover {
    color: #3357FD;
}
.mobile-menu-content .header-right .tf-button {
    margin-left: 0px;
        padding: 12px 30px;
}

.offcanvas-header .btn-close {
    opacity: 1;
    transition: all 0.3s ease-in-out;
    background-image: unset;
    color: #000;
    background: #fff;
    border-radius: 100px;
    font-size: 17px;
    line-height: 18px;
}
.offcanvas-header {
    padding: 25px 25px !important;
}
.offcanvas-header .btn-close:hover {
    rotate: 180deg;
}
/* mobie menu */
/* cursor */

.cursor1 {
  position: fixed;
  width: 40px;
  height: 40px;
  border: 1px solid #FF3255;
  border-radius: 50%;
  left: 0;
  top: 0;
  pointer-events: none;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: 0.15s;
  transition: 0.15s;
  z-index: 999;
  mix-blend-mode: difference;
}

.cursor1.hide {
  opacity: 0;
  visibility: hidden;
}

.cursor2 {
  position: fixed;
  width: 8px;
  height: 8px;
  background-color: #ff3254c1;
  border-radius: 50%;
  left: 0;
  top: 0;
  pointer-events: none;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  z-index: 999;
  mix-blend-mode: difference;
}

.cursor2.hide {
  opacity: 0;
  visibility: hidden;
}

.cursor2.circle {
  width: 60px;
  height: 60px;
}

/* Preload
-------------------------------------------------------------- */
#preloader {
    background-color: #fff;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    margin-top: 0px;
    top: 0px;
    left: 0px;
    bottom: 0px;
    overflow: hidden;
    right: 0px;
    z-index: 999999;
  }
  
  #preloader #loading-center {
    width: 100%;
    height: 100%;
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex
  ;
    align-items: center;
    justify-content: center;
  }
  
  #preloader #loading-center .loader-container {
    display: flex
  ;
    justify-content: center;
    align-items: center;
  }
  
  #preloader #loading-center .loader-container .wrap-loader {
    position: relative;
    display: flex
  ;
    justify-content: center;
    align-items: center;
  }
  
  #preloader #loading-center .loader-container .loader {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    animation: spin-load 1s linear infinite;
  }
  
  #preloader #loading-center .loader-container .wrap-loader .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100px;
    width: 100px;
    height: 100px;
    display: flex
;
    align-items: center;
    justify-content: center;
  }
  
  #preloader #loading-center .loader-container .wrap-loader .icon svg {
    width: 42px;
    height: 42px;
  }
  
  @keyframes spin-load {
    0% {
      transform: rotate(0deg);
      box-shadow: 0 2px 0 #000;
  }
  50% {
    transform: rotate(180deg);
    box-shadow: 0 2px 0 #000;
  }
  100% {
    transform: rotate(360deg);
    box-shadow: 0 2px 0 #000;
  }
  }

/* nav menu */

#modal-menu {
    cursor: pointer;
}

.modal-menu .overlay {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.modal-menu.active .overlay {
    opacity: 1;
    visibility: visible;
}

.modal-menu .inner-menu {
    width: 320px;
    height: 100%;
    top: 0;
    left: 0px;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    position: fixed;
    background-color: #fff;
    z-index: 999999;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
}

.modal-menu.active .inner-menu {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
}

.modal-menu .inner-menu {
    padding: 20px;
}

.modal-menu .inner-menu .close-menu {
    max-width: 30px;
    max-height: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.modal-menu .inner-menu .menu-image img {
    width: 134px;
}

.modal-menu .inner-menu .menu-image {
    margin-bottom: 20px;
}

.modal-menu .inner-menu .menu a {
    font-weight: 600;
}

.modal-menu .inner-menu .menu li {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #efefef;
}


/* Title Icon */

.title-list .title-wrap {
    display: inline-flex;
    align-items: center;
    text-wrap-mode: nowrap;
    gap: 12px;
}
.title-wrap .title-text {
        margin-bottom: 0;
    font-size: 32px;
    line-height: 1;
    letter-spacing: 0.5px;
     font-weight: 600;
    color: #424759;
}
.title-list .description {
    font-size: 24px;
    line-height: 1.24;
    color: #424759;
    font-weight: 700;
    margin-top: 7px;
}
.title-wrap i{
    color: #FF9366;
    font-size: 30px;
}
.title-wrap svg{
    width: 30px;
}

.title-wrap svg path{
    fill: #FF9366;
}



  /* GoTop Button
-------------------------------------------------------------- */
.go-top {
  position: fixed !important;
  right: -100px;
  bottom: 82px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #fff;
  background: #7FB297;
  color: #fff;
  cursor: pointer;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  overflow: hidden;
}

.go-top.show {
  right: 15px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  visibility: visible;
  z-index: 9999;
}
.go-top svg  {
  rotate: -45deg;
}
.go-top svg path {
  fill: #fff;
  transition: all ease 0.3s;
}

.go-top:hover {
  background: #1C1C1E;
}

/* animation */

.fadeInRight {
  animation-name: fadeInRight2 !important;
}

@keyframes tpupdown {
0% {
    transform: translateY(0);
}

100% {
    transform: translateY(-20px);
}
}

@keyframes fadeInRight2 {
  from {
      opacity: 0;
      transform: translateX(20px)
  }

  to {
      opacity: 1;
      transform: none
  }
}

.fadeInLeft {
  animation-name: fadeInLeft2 !important;
}

@keyframes fadeInLeft2 {
  from {
      opacity: 0;
      transform: translateX(-20px)
  }

  to {
      opacity: 1;
      transform: none
  }
}

.fadeInUp {
  animation-name: fadeInUp2 !important;
}

@keyframes fadeInUp2 {
  from {
      opacity: 0;
      transform: translateY(20px)
  }

  to {
      opacity: 1;
      transform: none
  }
}

/* team */
.tf-team {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tf-team .features-avatar img {
  object-fit: cover;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.tf-team .features-avatar {
  overflow: hidden;
  position: relative;
     height: 440px;
    width: 440px;
    border-radius: 100%;

}
.tf-team .features-avatar::before {
    background-image: url(../img/bg-avata-team.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    z-index: 2;
}

.tf-team:hover .features-avatar img {
  transform: scale(1.05);
}

.tf-team .features-avatar {
  margin-bottom: 26px;
}

.tf-team .content {
  text-align: center;
}

.tf-team .content h3 {
    font-weight: 600;
    font-size: 45px;
    line-height: 100%;
}

.tf-list-image .owl-stage {
    display: flex;
    align-items: center;
}
.tf-list-image .owl-nav button {
    width: 42px;
    height: 42px;
    display: flex;
    border: 2px solid #9EA8D5 !important;
    align-items: center;
    border-radius: 100px;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.tf-list-image .owl-nav button.owl-prev {
    left: -65px;
}
.tf-list-image .owl-nav button.owl-next {
    right: -65px;
}
.tf-list-image .owl-nav button svg path{
 fill: #BF61A3;
}
.tf-list-image .owl-nav button:hover {
    border: 2px solid #7FB297 !important;
    background-color: #7FB297 !important;
}
.tf-list-image .owl-nav button:hover svg path{
 fill: #fff;
}

/* contatc form */
.contact-form-page .input-label{
  margin-bottom: 15.5px;
  position: relative;
}
.contact-form-page .input-label.contact {
    text-align: center;
    margin-bottom: 0;
}
.btn-submit-contact {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
}

.btn-submit-contact input[type="submit"] {
    padding-right: 25px; /* chừa chỗ cho SVG */
}

.btn-submit-contact svg {
    position: absolute;
    right: 28%;
    top: 25%;
    pointer-events: none;
}

.contact-form-page input.wpcf7-submit {
    width: 303px;
    font-family: Myriad Pro;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 1px;
    background: transparent;
    border-radius: 100px;
    border: 3px solid #3357FD;
    color: #3357FD;
    padding: 10px;
}
.contact-form-page input.wpcf7-submit:hover {
    border: 3px solid #3357FD;
    background-color: #3357FD;
    color: #fff;
}
label {
    display: block !important;
    font-weight: 400;
    font-size: 21px;
    line-height: 25.39px;
    color: #424759;
    margin-bottom: 7px;
}
input,textarea {
    font-weight: 400;
    padding: 21px 15px 18px 15px;
    border-radius: 10px;
    color: #9EA8D5;
    border: 1px solid #9EA8D5;
        outline: none;
        width: 100%;
}
textarea {
    height: 182px;
}
input::placeholder,textarea::placeholder {
    font-weight: 325;
    font-size: 25px;
    line-height: 29.97px;
    color: #9EA8D5;
}
input:focus,textarea:focus {
     border: 1px solid #3357FD;
}
/* contatc form */

.tf-text-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; /* vertical default */
    gap: 10px; /* Elementor sẽ override */
}

.tf-text-list.horizontal {
    flex-direction: row;
}


  @media only screen and (max-width: 991px) {


  }

  @media only screen and (max-width: 767px) {
   input, textarea {
    padding: 14px 15px 11px 15px;
}
input::placeholder,textarea::placeholder {

    font-size: 20px;
    line-height: 1.3px;
}
label {
    font-size: 18px;
}
  }









