@media (max-width: 991px) {
    .main-menu .menu {
        gap: 30px;
    }

    .header-right .tf-button {
        margin-left: 30px;
    }
    .footer-container .text-wraps {
    gap: 20px;
    flex-direction: column;
}
}

@media (max-width: 767px) {

    .main-header .main-menu,
    .main-header .header-right {
        display: none;
    }

    .main-header .menu-toggle {
        display: block;
    }

    .site-header {
        padding: 15px 0;
    }

    .site-footer .footer-contact,
    .site-footer .footer-address {
        padding-top: 0px;
        padding-left: 0px;
    }
}
@media (max-width: 575px) {

    .footer-logo,.footer-contact,.footer-address{
        margin-bottom: 30px;
    }
    .site-footer {
    padding-top: 50px;
    padding-bottom: 40px;
}
.site-footer .coppyright {
    margin-top: 10px;
}
}